---
http_interactions:
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=world&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver2
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 533, \n    \"sounds\": [\n        {\n            \"analysis_stats\":
        \"http://www.freesound.org/api/sounds/170719/analysis/\", \n            \"analysis_frames\":
        \"http://www.freesound.org/data/analysis/170/170719_2962530_frames.json\",
        \n            \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/170/170719_2962530-hq.mp3\",
        \n            \"original_filename\": \"End of the world (voice)\", \n            \"tags\":
        [\n                \"english\", \n                \"british\", \n                \"voice\",
        \n                \"world\", \n                \"deep\", \n                \"end\",
        \n                \"male\", \n                \"voiceover\"\n            ],
        \n            \"url\": \"http://www.freesound.org/people/Speedenza/sounds/170719/\",
        \n            \"preview-hq-ogg\": \"http://www.freesound.org/data/previews/170/170719_2962530-hq.ogg\",
        \n            \"similarity\": \"http://www.freesound.org/api/sounds/170719/similar/\",
        \n            \"serve\": \"http://www.freesound.org/api/sounds/170719/serve/\",
        \n            \"preview-lq-ogg\": \"http://www.freesound.org/data/previews/170/170719_2962530-lq.ogg\",
        \n            \"spectral_m\": \"http://www.freesound.org/data/displays/170/170719_2962530_spec_M.jpg\",
        \n            \"preview-lq-mp3\": \"http://www.freesound.org/data/previews/170/170719_2962530-lq.mp3\",
        \n            \"user\": {\n                \"username\": \"Speedenza\", \n
        \               \"url\": \"http://www.freesound.org/people/Speedenza/\", \n
        \               \"ref\": \"http://www.freesound.org/api/people/Speedenza/\"\n
        \           }, \n            \"spectral_l\": \"http://www.freesound.org/data/displays/170/170719_2962530_spec_L.jpg\",
        \n            \"type\": \"wav\", \n            \"duration\": 3.4365800000000002,
        \n            \"waveform_l\": \"http://www.freesound.org/data/displays/170/170719_2962530_wave_L.png\",
        \n            \"waveform_m\": \"http://www.freesound.org/data/displays/170/170719_2962530_wave_M.png\",
        \n            \"ref\": \"http://www.freesound.org/api/sounds/170719/\", \n
        \           \"id\": 170719, \n            \"pack\": \"http://www.freesound.org/api/packs/13144/\"\n
        \       }, \n        {\n            \"analysis_stats\": \"http://www.freesound.org/api/sounds/173237/analysis/\",
        \n            \"analysis_frames\": \"http://www.freesound.org/data/analysis/173/173237_1904290_frames.json\",
        \n            \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/173/173237_1904290-hq.mp3\",
        \n            \"original_filename\": \"hello-world-by-ZX80.flac\", \n            \"tags\":
[...]
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=hello&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver1
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 127, \n   [...]
