--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=hello&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 120, 
            "sounds": [
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/36294/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/36/36294_164285_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/36/36294_164285-hq.mp3", 
                    "original_filename": "Drum It.wav", 
                    "tags": [
                        "ambient", 
                        "remix", 
                        "ugly-organ"
                    ], 
                    "url": "http://www.freesound.org/people/KatHakaku/sounds/36294/", 
                    "preview-hq-ogg": "http://www.freesound.org/data/previews/36/36294_164285-hq.ogg", 
                    "similarity": "http://www.freesound.org/api/sounds/36294/similar/", 
                    "serve": "http://www.freesound.org/api/sounds/36294/serve/", 
                    "preview-lq-ogg": "http://www.freesound.org/data/previews/36/36294_164285-lq.ogg", 
                    "spectral_m": "http://www.freesound.org/data/displays/36/36294_164285_spec_M.jpg", 
                    "preview-lq-mp3": "http://www.freesound.org/data/previews/36/36294_164285-lq.mp3", 
                    "user": {
                        "username": "KatHakaku", 
                        "url": "http://www.freesound.org/people/KatHakaku/", 
                        "ref": "http://www.freesound.org/api/people/KatHakaku/"
                    }, 
                    "spectral_l": "http://www.freesound.org/data/displays/36/36294_164285_spec_L.jpg", 
                    "type": "wav", 
                    "duration": 6.79412698413, 
                    "waveform_l": "http://www.freesound.org/data/displays/36/36294_164285_wave_L.png", 
                    "waveform_m": "http://www.freesound.org/data/displays/36/36294_164285_wave_M.png", 
                    "ref": "http://www.freesound.org/api/sounds/36294/", 
                    "id": 36294, 
                    "pack": "http://www.freesound.org/api/packs/2310/"
                }, 
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/154598/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/154/154598_2337290_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/154/154598_2337290-hq.mp3", 
                    "original_filename": "Hello! 1.wav", 
                    "tags": [
               [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=world&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: ASCII-8BIT
      str[...]
