---
http_interactions:
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=old&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver1
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 3166, \n    \"sounds\": [\n        {\n            \"analysis_stats\":
        \"http://www.freesound.org/api/sounds/90654/analysis/\", \n            \"analysis_frames\":
        \"http://www.freesound.org/data/analysis/90/90654_321967_frames.json\", \n
        \           \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/90/90654_321967-hq.mp3\",
        \n            \"original_filename\": \"01492 old window 1.wav\", \n            \"tags\":
        [\n                \"handle\", \n                \"creak\", \n                \"old\",
        \n                \"open\", \n                \"opening\", \n                \"window\"\n
        \           ], \n            \"url\": \"http://www.freesound.org/people/Robinhood76/sounds/90654/\",
        \n            \"preview-hq-ogg\": \"http://www.freesound.org/data/previews/90/90654_321967-hq.ogg\",
        \n            \"similarity\": \"http://www.freesound.org/api/sounds/90654/similar/\",
        \n            \"serve\": \"http://www.freesound.org/api/sounds/90654/serve/\",
        \n            \"preview-lq-ogg\": \"http://www.freesound.org/data/previews/90/90654_321967-lq.ogg\",
        \n            \"spectral_m\": \"http://www.freesound.org/data/displays/90/90654_321967_spec_M.jpg\",
        \n            \"preview-lq-mp3\": \"http://www.freesound.org/data/previews/90/90654_321967-lq.mp3\",
        \n            \"user\": {\n                \"username\": \"Robinhood76\",
        \n                \"url\": \"http://www.freesound.org/people/Robinhood76/\",
        \n                \"ref\": \"http://www.freesound.org/api/people/Robinhood76/\"\n
        \           }, \n            \"spectral_l\": \"http://www.freesound.org/data/displays/90/90654_321967_spec_L.jpg\",
        \n            \"type\": \"wav\", \n            \"duration\": 5.8235147392300002,
        \n            \"waveform_l\": \"http://www.freesound.org/data/displays/90/90654_321967_wave_L.png\",
        \n            \"waveform_m\": \"http://www.freesound.org/data/displays/90/90654_321967_wave_M.png\",
        \n            \"ref\": \"http://www.freesound.org/api/sounds/90654/\", \n
        \           \"id\": 90654, \n            \"pack\": \"http://www.freesound.org/api/packs/4054/\"\n
        \       }, \n        {\n            \"analysis_stats\": \"http://www.freesound.org/api/sounds/131652/analysis/\",
        \n            \"analysis_frames\": \"http://www.freesound.org/data/analysis/131/131652_2337290_frames.json\",
        \n            \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/131/131652_2337290-hq.mp3\",
        \n            \"original_filename\": \"Grumpy Old Man 3.wav\", \n            \"tags\":
     [...]
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=methods&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver2
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 135, \n [...]
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=often&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver2
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 90, \n    [...]
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=technology&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver2
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 116, [...]
- request:
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&q=produces&sounds_per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Freesound-Host:
      - fs-appserver1
    body:
      encoding: UTF-8
      string: "{\n    \"num_results\": 1708, \[...]
