--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=old
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: ASCII-8BIT
      string: "{\n    \"num_results\": 5034, \n    \"sounds\": [\n        {\n            \"analysis_stats\": \"http://www.freesound.org/api/sounds/150085/analysis/\", \n            \"analysis_frames\": \"http://www.freesound.org/data/analysis/150/150085_2676246_frames.json\", \n            \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/150/150085_2676246-hq.mp3\", \n            \"original_filename\": \"SFX- Lavadora Vieja - H\xC3\xA9ctor Bakero.wav\", \n            \"tags\": [\n                \"Lavadora\", \n                \"Washer\", \n                \"Old\", \n                \"Vieja\", \n                \"machine\", \n                \"old\", \n                \"washing\"\n            ], \n            \"url\": \"http://www.freesound.org/people/bakero182/sounds/150085/\", \n            \"preview-hq-ogg\": \"http://www.freesound.org/data/previews/150/150085_2676246-hq.ogg\", \n            \"similarity\": \"http://www.freesound.org/api/sounds/150085/similar/\", \n            \"serve\": \"http://www.freesound.org/api/sounds/150085/serve/\", \n            \"preview-lq-ogg\": \"http://www.freesound.org/data/previews/150/150085_2676246-lq.ogg\", \n            \"spectral_m\": \"http://www.freesound.org/data/displays/150/150085_2676246_spec_M.jpg\", \n            \"preview-lq-mp3\": \"http://www.freesound.org/data/previews/150/150085_2676246-lq.mp3\", \n            \"user\": {\n                \"username\": \"bakero182\", \n                \"url\": \"http://www.freesound.org/people/bakero182/\", \n                \"ref\": \"http://www.freesound.org/api/people/bakero182/\"\n            }, \n            \"spectral_l\": \"http://www.freesound.org/data/displays/150/150085_2676246_spec_L.jpg\", \n            \"type\": \"wav\", \n            \"duration\": 116.773, \n            \"waveform_l\": \"http://www.freesound.org/data/displays/150/150085_2676246_wave_L.png\", \n            \"waveform_m\": \"http://www.freesound.org/data/displays/150/150085_2676246_wave_M.png\", \n            \"ref\": \"http://www.freesound.org/api/sounds/150085/\", \n            \"id\": 150085, \n            \"pack\": \"http://www.freesound.org/api/packs/9267/\"\n        }, \n        {\n            \"analysis_stats\": \"http://www.freesound.org/api/sounds/75105/analysis/\", \n            \"analysis_frames\": \"http://www.freesound.org/data/analysis/75/75105_649468_frames.json\", \n            \"preview-hq-mp3\": \"http://www.freesound.org/data/previews/75/75105_649468-hq.mp3\", \n            \"original_filename\": \"Old typewriter.wav\", \n            \"tags\": [\n                \"sound-museum\", \n        [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=technology
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 127, 
        [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=procedures
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 15, 
         [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=methods
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 437, 
           [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=often
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 266, 
            "[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=policies
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: ASCII-8BIT
      string: "{\n    \"num_results\": 19, \n    \"sounds\": [\n    [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=produces
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 2166, 
         [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=old&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
            "nu[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=technology&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
        [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=procedures&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
        [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=methods&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
           [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=produces&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
          [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=policies&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: |-
        {
          [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&format=json&q=often&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=old&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      string: [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=technology&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      s[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=procedures&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      s[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=methods&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      stri[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=produces&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      str[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=policies&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 0, 
            "sounds": [], 
            "num_pages": 0
        }
  recorded_at: Sun, 17 Feb 2013 03:10:47 GMT
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%205%5D&format=json&q=often&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string[...]
[...]
