--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=procedures&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string: |-
        {
            "num_results": 5, 
            "sounds": [
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/115759/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/115/115759_1231367_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/115/115759_1231367-hq.mp3", 
                    "original_filename": "windloop.wav", 
                    "tags": [
                        "ambient", 
                        "loop", 
                        "procedural", 
                        "wind"
                    ], 
                    "url": "http://www.freesound.org/people/warwickallison/sounds/115759/", 
                    "preview-hq-ogg": "http://www.freesound.org/data/previews/115/115759_1231367-hq.ogg", 
                    "similarity": "http://www.freesound.org/api/sounds/115759/similar/", 
                    "serve": "http://www.freesound.org/api/sounds/115759/serve/", 
                    "spectral_m": "http://www.freesound.org/data/displays/115/115759_1231367_spec_M.jpg", 
                    "preview-lq-mp3": "http://www.freesound.org/data/previews/115/115759_1231367-lq.mp3", 
                    "user": {
                        "username": "warwickallison", 
                        "url": "http://www.freesound.org/people/warwickallison/", 
                        "ref": "http://www.freesound.org/api/people/warwickallison/"
                    }, 
                    "spectral_l": "http://www.freesound.org/data/displays/115/115759_1231367_spec_L.jpg", 
                    "type": "wav", 
                    "duration": 1.4682766439899999, 
                    "waveform_l": "http://www.freesound.org/data/displays/115/115759_1231367_wave_L.png", 
                    "waveform_m": "http://www.freesound.org/data/displays/115/115759_1231367_wave_M.png", 
                    "ref": "http://www.freesound.org/api/sounds/115759/", 
                    "id": 115759, 
                    "preview-lq-ogg": "http://www.freesound.org/data/previews/115/115759_1231367-lq.ogg"
                }, 
                {
                    "analysis_stats": "http://www.freesound.org/api/sounds/82724/analysis/", 
                    "analysis_frames": "http://www.freesound.org/data/analysis/82/82724_94080_frames.json", 
                    "preview-hq-mp3": "http://www.freesound.org/data/previews/82/82724_94080-hq.mp3", 
                    "original_filename": "woodbandnoise.wav", 
                    "tags[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=technology&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: ASCII-8BIT
    [...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=produces&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      st[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=often&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      strin[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=methods&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      str[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=policies&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver2
    body: 
      encoding: US-ASCII
      st[...]
- request: 
    method: get
    uri: http://www.freesound.org/api/sounds/search/?api_key=f21ede7f1694428ab829e72f52e3d2df&f=duration:%5B0%20TO%2010%5D&format=json&q=old&s=rating_desc&sounds_per_page=10
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      X-Freesound-Host: 
      - fs-appserver1
    body: 
      encoding: US-ASCII
      string:[...]
